@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

#sound {
	width: 30px;
	height: 30px;
	cursor: pointer;
	position: absolute;
	top: 465px;
	left: 15px;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#page {
	min-height: 100vh;
	background-image: url('./img/candybg3.png');
	background-repeat: no-repeat;
	background-size: cover;
	object-fit: cover;
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	/* align-items: center; */
}

.start-screen {
	padding: 80px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.button {
	padding: 10px 20px;
	border: none;
	border-radius: 9px;
	cursor: pointer;
	background-color: #f834c1;
	color: aliceblue;
	font-size: large;
	font-family: Lobster;
	transition: all 0.3s ease-in-out;
	letter-spacing: 2px;
}

#gameboard {
}

.button:hover {
	background-color: #e009a3;
}
.hide {
	display: none;
}

#heading {
	height: fit-content;
	padding: 0.4rem 0.9rem;
	margin-top: 1rem;
	text-align: center;
	background: #ffc4f5;
	border: 1px solid #ffc7f6;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	z-index: 1;
	font-family: Lobster;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: #ff4dcd;
}

#gameboard {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* display: none; */
}

#lollipop1 {
	position: absolute;
	left: -20px;
	top: 10px;
	height: 170px;
	width: 200px;
	background: url('./img/lollipop1.png') no-repeat;
	transform: rotate(136.77deg);
	background-size: 75%;
}

#muffin {
	position: absolute;
	/* left: 15px;
    bottom: 25px; */
	height: 175px;
	width: 150px;
	background: url('./img/muffin.png');
	transform: rotate(30.81deg);
	background-size: 100%;
	background-repeat: no-repeat;
	z-index: 1;
}

#footer {
	position: absolute;
	bottom: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('./img/footer3.png');
	height: 40px;
	width: 100%;
	z-index: 2;
	font-family: Bubblegum Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 17px;
	text-shadow: 0px 0px 6px rgba(255, 0, 153, 0.93);
	color: #ffbfe2;
}

/*! Bahar ka hai */
