@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

@font-face {
	font-family: 'cherry bomb';
	src: url('./font/CherryBomb-Regular.woff') format('woff');
}

#sound {
	width: 60px;
	height: 60px;
	cursor: pointer;
	position: absolute;
	/* top: 465px; */
	bottom: 80px;
	left: 25px;
}

#gameover {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 404px;
	height: 504px;
	border-radius: 8px;
	background: rgba(44, 40, 40, 0.8);
	display: none;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	z-index: 4;
}

#youwon {
	width: 100px;
	position: absolute;
	top: 100px;
	left: 150px;
	display: none;
	z-index: 3;
}

#youlose {
	width: 400px;
	position: absolute;
	top: 60px;
	left: 0px;
	display: none;
	z-index: 3;
}

#restart {
	position: absolute;
	top: 250px;
	left: 80px;
	cursor: pointer;
	font-size: 1em;
	color: #fff;
	z-index: 3;
}

a {
	position: relative;
	left: -5px;
	display: inline-block;
	padding: 15px 30px;
	color: #ff639d;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 30px;
	font-weight: 300;
	overflow: hidden;
	transition: 0.2s;
}

a:hover {
	color: hsl(325, 57%, 40%);
	background: #ff639d;
	box-shadow: 0 0 10px #ff639d, 0 0 40px #ff639d, 0 0 80px #ff639d;
	transition-delay: 1s;
}

a span {
	position: absolute;
	display: block;
}

a span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #ff639d);
}

a:hover span:nth-child(1) {
	left: 100%;
	transition: 1s;
}

a span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #ff639d);
}

a:hover span:nth-child(3) {
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}

a span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #ff639d);
}

a:hover span:nth-child(2) {
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}

a span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg, transparent, #ff639d);
}

a:hover span:nth-child(4) {
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.75s;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#page {
	min-height: 100vh;
	background-image: url('./img/candybg3.png');
	background-repeat: no-repeat;
	background-size: cover;
	object-fit: cover;
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	/* align-items: center; */
}

.start-screen {
	padding: 150px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.button {
	padding: 10px 20px;
	border: none;
	border-radius: 9px;
	cursor: pointer;
	background-color: #f834c1;
	color: aliceblue;
	font-size: 2em;
	font-family: Lobster;
	transition: all 0.3s ease-in-out;
	letter-spacing: 2px;
}

#gameboard {
	border-radius: 10px;
	background: rgba(236, 82, 234, 0.2);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.button:hover {
	background-color: #e009a3;
}

.hide {
	display: none;
}

#heading {
	height: 55px;
	padding: 0.4rem 0.9rem;
	margin-top: 1rem;
	text-align: center;
	background: #ffc4f5;
	border: 1px solid #ffc7f6;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	z-index: 1;
	font-family: Lobster;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: #ff4dcd;
	user-select: none;
}

#gameboard {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* display: none; */
}

#lollipop1 {
	position: absolute;
	left: -20px;
	top: 10px;
	height: 170px;
	width: 200px;
	background: url('./img/lollipop1.png') no-repeat;
	transform: rotate(136.77deg);
	background-size: 75%;
}

#footer {
	position: absolute;
	bottom: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('./img/footer3.png');
	height: 40px;
	width: 100%;
	z-index: 2;
	font-family: cherry bomb;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 15px;
	text-shadow: 0px 0px 6px rgba(255, 0, 153, 0.93);
	color: #ffbfe2;
	user-select: none;
}

#candy1 {
	background: url('./img/rightbottom.png');
	background-repeat: no-repeat;
	position: absolute;
	right: 0px;
	bottom: 40px;
	height: 250px;
	width: 250px;
	z-index: 5;
}

/*! Bahar ka hai */
